@import url(general.css);
img{
    max-height: 250px;
    filter: grayscale(100%);
    transition: .3s;
    scale: .95;
    border: 3px solid var(--gold);
    border-radius: 5px;
    outline: 1px solid var(--gold);
    outline-offset: 4px;
}
img:hover{
    filter: grayscale(0);
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
}
section > div{
    display: flex;
    gap: .75rem;
}
section > div:nth-child(even){
    flex-direction: row-reverse;
}

