@import url(general.css);

/* ESTILO DE PANTALLA DE MESSI CON LA COPA */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

/* IMAGEN DE MESSI CON LA COPA */

main img{
    margin-top: 3rem;
    width: 35rem;
    filter: drop-shadow(0 0 7px var(--white)) invert(100%);
}


/* CONTENEDOR DEL CONTENEDOR DE LOS TEXTOS PARA QUE NO HAYA OVERFLOW */
#bg-text-container{
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
}

/* CONTENEDOR DE LOS TEXTOS "GOAT" */
#bg-text{
    color: var(--gold);
    left: 0;
    font-size: 300px;
    font-family: IM Fell Double Pica SC;
    display: flex;
    gap: 150px;
    animation: slide 18s infinite linear;
}

/* SE MUEVE EL DIV HACIA LA IZQUIERDA */
@keyframes slide {
    to{
        translate: -1047px;
    }
}

/*  */

section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    position: relative;
    overflow: hidden;
}



section h1{
    font-family: IM Fell Double Pica SC;
    font-size: 8vw;
}

section ul{
    list-style: none;
    color: var(--gold);
}


/* ESTILO PARA EL GIF */
img.gif{
    filter: grayscale(100%) contrast(600%) blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    mix-blend-mode: difference;
    object-fit: cover;
}

/* ESTILO PARA EL CONTENEDOR DEL FORM */
div.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3vw;
    background-color: var(--white);
    margin: 3rem auto;
    color: black;
    outline: .5rem dashed var(--white);
}

div.form-container h1{
    font-family: IM Fell Double Pica SC;
}

/* ESTILO PARA EL FORMULARIO */

form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


#captchaImage{
    width: 100%;
}

/* ESTILO PARA CADA CONTENEDOR DE CADA INPUT */
form div.row{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    position: relative;
}

form div.row input{
    background-color: transparent;
    border-style: none;
    border: 1px solid black;
    color: black;
    padding: .5rem;
    padding-top: .7rem;
    z-index: 1;
}

/* EN CASO DE QUE EL TEXTO SOLICITADO NO CUMPLA CON LAS CONDICIONES */
form div.row input:not(:focus):invalid{
    color: transparent;
}

/* ESTILO DE LA ETIQUETA DE CADA INPUT */
form div.row p{
    position: absolute;
    top:.5rem;
    left: .5rem;
    background-color: var(--white);
    transition: .2s;
    transform-origin: left;
    color: #00000044;
    font-weight: bold;
    font-size: 90%;
}

/* ESTILO POR SI SE SELECCIONA O EL CONTENIDO DEL INPUT ES VÃLIDO */
form div.row input:focus ~ p, form div.row input:valid ~ p{
    top:-.5rem;
    scale:.85;
    z-index: 1;
    color: #00000088;
}


form>button{
    margin-top: 2rem;
    background-color: var(--gold);
    border-style: none;
    padding: .5rem 1rem;
    transition: translate .1s,  box-shadow .15s, filter .1s ;
    box-shadow: .2rem .2rem 0 black;
    border: 2px solid black;
    border-radius: 5px;
}


form>button:not(:disabled):active{
    box-shadow: none;
    translate: .2rem .2rem;
}

form>button:disabled{
    filter: grayscale(100%);
}

/* ESTILO PARA LA RESPUESTA DEL CAPTCHA (CORRECTO O INCORRECTO) */
form p#responseCaptcha{
    all: unset;
    font-size: .8rem;
    font-weight: bold;
}

/* Modal */

div.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50% 0;
    z-index: 3;
    background-color: green;
}

div.modal div.content{
    
    padding: 1rem 3rem;
}

div.modal div.timer{
    background-color: var(--white);
    opacity: .6;
    height: .3rem;
    transform-origin: left;
}

div.modal.appear{
    display: block;
}

div.modal.appear div.timer{
    animation: reduce 5s linear forwards;
}

@keyframes reduce {
    to{
        scale: 0 1;
    }
}

#spanNombre{
    font-weight: bolder;
}